version: '3'

tasks:
  deploy:
    desc: "Deploy entire app to Kubernetes"
    cmds:
      - kubectl create namespace postgres --dry-run=client -o yaml | kubectl apply -f -
      - kubectl create namespace my-app --dry-run=client -o yaml | kubectl apply -f -
      - kubectl apply -f postgresql/postgres-simple.yaml
      - kubectl apply -f postgresql/Secret.db-password.yaml
      - kubectl apply -f postgresql/Job.db-migrator.yaml
      - kubectl apply -f api-node/
      - kubectl apply -f client-react/
  
  tilt-up:
    desc: "Start Tilt for local development"
    cmds:
      - cd .. && tilt up  