version: '3'

tasks:
  1.setup-cnpg:
    desc: "Install CloudNativePG operator"
    cmds:
      - helm repo add cnpg https://cloudnative-pg.github.io/charts
      - helm repo update
      - helm install cnpg cnpg/cloudnative-pg --namespace cnpg-system --create-namespace
  
  2.deploy:
    desc: "Deploy entire app to Kubernetes"
    cmds:
      - kubectl create namespace postgres --dry-run=client -o yaml | kubectl apply -f -
      - kubectl create namespace my-app --dry-run=client -o yaml | kubectl apply -f -
      - kubectl apply -f cnpg/postgres-cluster.yaml
      - sleep 30
      - kubectl apply -f cnpg/migrator.yaml
      - kubectl apply -f api-node/
      - kubectl apply -f client-react/
  
  3.tilt-up:
    desc: "Start Tilt for local development"
    cmds:
      - cd .. && tilt up  