apiVersion: batch/v1
kind: Job
metadata:
  name: db-migrator
  namespace: my-app
spec:
  template:
    spec:
      containers:
        - name: migrate
          image: alextsoh/db-migrator:multiplatform
          imagePullPolicy: Always
          args:
            - -path=/app/migrations
            - -database=$(DATABASE_URL)?sslmode=disable
            - up
          envFrom:
            - secretRef:
                name: db-password
      restartPolicy: OnFailure
