apiVersion: batch/v1
kind: Job
metadata:
  name: db-migrate
  namespace: postgres
spec:
  template:
    spec:
      containers:
      - name: migrator
        image: alextsoh/db-migrator:multiplatform
        imagePullPolicy: Always
        args:
          - -path=/app/migrations
          - -database=$(DATABASE_URL)
          - up
        env:
        - name: DATABASE_URL
        
          value: "postgres://postgres:safepassword@cnpg-db-rw.postgres.svc.cluster.local:5432/postgres?sslmode=disable"
      restartPolicy: OnFailure