name: Build and Push Container Images

on:
  workflow_dispatch:
  push:
    branches:
      - dev


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push API image
        uses: docker/build-push-action@v4
        with:
          context: ./App/api-node
          file: ./App/api-node/Dockerfile
          tags: ${{ vars.DOCKERHUB_USERNAME }}/api-node:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
   
 


