name: Build and Push Images

on:
  push:
    branches: [dev]

  workflow_dispatch:
    inputs:
      service:
        description: "Service to build"
        required: true
        type: choice
        options:
          - api-node
          - client-react

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build & push api-node
        if: github.event_name == 'push' || inputs.service == 'api-node'
        uses: docker/build-push-action@v6
        with:
          context: App/api-node
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/api-node:dev
            ${{ vars.DOCKERHUB_USERNAME }}/api-node:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & push client-react
        if: github.event_name == 'push' || inputs.service == 'client-react'
        uses: docker/build-push-action@v6
        with:
          context: App/client-react
          file: App/client-react/Dockerfile.nginx
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/client-react:dev
            ${{ vars.DOCKERHUB_USERNAME }}/client-react:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max