name: Test Application

on:
  workflow_dispatch:
  push:
    branches:
      - dev

defaults:
  run:
    working-directory: App/api-node

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'App/api-node/package.json'
          cache: 'npm'
          cache-dependency-path: 'App/api-node/package-lock.json' 
      
      - name: Install dependencies
        run: npm ci
      
      - name: Lint code
        run: npm run lint
      
      - name: Run tests
        run: npm test

      - name: Build Docker containers
        run: npm run build